@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  user-select:none;
}

#body {
  background-color: #D9F1FD;
  background-image: url("../img/mar.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
}

header{
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
  position: absolute;
  top: 12%;
  border-radius: 15%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 100%;
  max-width: 800px;
  place-items: center;
  gap: 0.5%;
  user-select: none;
  margin: 0 auto;
}

.grid > .card {
  aspect-ratio: 3/4;
  background-color: #1a5c7b;
  border-radius: 5px;
  position: relative;
  transition: all 500ms ease;
  transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 7px;
  border: none;
}

.botao-inicial {
  position: fixed;
  z-index: 600;
  display: flex;
  gap: 50px;
  cursor: pointer;
  top: 13%;
  left: 3%;
  width: 6%;
  height: 4%;
  justify-content: space-between;
}

#imagem {
  transition: all 500ms ease;
  width: 100%;
  height: 100%;
}

#imagem:hover {
  transform: scale(1.2);
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 2px solid rgb(184, 180, 180);
  border-radius: 7px;
  filter: drop-shadow(0px 5px 3px rgba(140, 128, 128, 0.25));
  transition: all 800ms ease;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url("../img/parte-de-tras.svg");
  backface-visibility: hidden;
  user-select: none;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

.modal-finalizacao{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 127, 175, 0.5);
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-menor-finalizacao{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s;
  word-spacing: 0.5rem;
  margin: 0;
  display: none;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 50%;
  height: 35%;
}

.modal-menor-finalizacao > p{
  margin: 0;
  color: #104760;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  width: 80%;
}

.spinner {
  border: 6px solid #7f9bee;
  border-top: 6px solid #05174c;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  width: 60px;
  height: 60px;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fundo-inicio {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 127, 175, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-fase-inicio  {
  background: #1a5c7b;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s;
  word-spacing: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 20%;
}

.texto-fase-inicio > p{
  margin: 0;
  color: #F8FFE6;
  font-weight: bold;
  font-size: 3rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* CSS para ocultar o modal até que a página esteja carregada */
.texto-fase-inicio {
  display: none; /* Oculta o modal inicialmente */
}

#body.loading .texto-fase-inicio {
  display: flex; /* Exibe o modal quando a página estiver carregada */
}
.modal2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 127, 175, 0.5);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

.modal-content2 {
  background: #1a5c7b;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 3rem;
  z-index: 3;
  animation: fadeIn 1s;
  word-spacing: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.modal-content2 p {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.botoes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#confirmYes,
#confirmNo {
  color: #fff;
  animation: textclip 3s linear infinite;
  display: inline-block;
  border: 2px solid #05174c;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
  border-radius: 0.8rem;
  text-transform: uppercase;
  background: transparent;
}

#confirmYes:hover,
#confirmNo:hover {
  background-clip: border-box;
  background-size: 100% auto;
}

#confirmYes:hover {
  background-color: #d94545;
}

#confirmNo:hover {
  background-color: #114f0f;
}

@media (max-width: 2580px){
  #body {
    padding: 4% 0% 2% 0%;
    background-position: bottom;
    background-size: 100%;
  }
  header{
    top: 4.5%;
    right: auto;
    padding: 2% 2%;
    font-size: 1.5rem;
    border-radius: 12px;
    height: 8%;
    width: 50%;
    align-items: center;
    font-size: 2rem;
  }
  .grid {
    margin-top: 2%;
    height: 80%;
    gap: 0.5%;
  }
  .card {
    width: 85%;
    height: 95%;
  }

  .modal-content2 {
    width: 60%;
    height: auto;
  }

  .modal-content2 p {
    font-size: 2rem;
  }
  #confirmYes,
  #confirmNo {
    font-size: 1.5rem;
    padding: 0.25rem 1.5rem;
  }
  .botoes {
    width: 60%;
    height: auto;
  }
  .botao-inicial {
    top: 3%;
    left: 3%;
    width: 7%;
    height: 12%;
  }
}

@media(max-width: 1700px){
  header{
    top: 4.5%;
    right: auto;
    padding: 2% 2%;
    font-size: 1.5rem;
    border-radius: 12px;
    height: 8%;
    width: 45%;
    align-items: center;
  }
  .grid {
    margin-top: 2%;
    height: 80%;
    gap: 0.5%;
  }
  .card {
    width: 70%;
    height: 95%;
  }
}


@media (max-width: 1370px) {
  #body {
    padding: 4% 0% 2% 0%;
  }
  header{
    top: 4.5%;
    right: auto;
    place-items: center;
    padding: 2% 2%;
    font-size: 1.5rem;
    border-radius: 12px;
    height: 7%;
    align-items: center;
    width: 50%;
  }
  .modal-content2 > p{
    font-size: 1.7rem;
  }
  #confirmYes,
  #confirmNo {
    font-size: 1.2rem;
    padding: 0.25rem 1.5rem;
    border: 2.5px solid #05174c;
  }
  
  .texto-fase-inicio{
    width: 32%;
  }
  .texto-fase-inicio > p{
    word-spacing: 0.2rem;
    font-size: 2.2rem;
  }
  .grid {
    margin-top: 4%;
    height: 100%;
    width: 50%;
  }
  .card {
    width: 65%;
    height: 95%;
  }
  .botao-inicial {
    width: 6%;
    height: 10%;
  }
}

@media (max-width:1285px){
  header{
    width: 50%;
    right: auto;
  }
  .grid{
    margin-top: 3%;
    height: 100%;
    width: 50%;
  }
  .card {
    width: 65%;
    height: 85%;
  }
}

@media (max-width: 886px){
  #body{
    background-size: cover;
  }
  header{
    top: 3%;
    right: 4%;
    padding: 2% 4%;
    font-size: 1.5rem;
    border-radius: 12px;
    height: 7%;
    align-items: center;
    width: 65%;
  }
  .grid{
    padding: 3% 6% 3% 6%;
    height: 80%;
    width: 100%;
    gap: 2%;
  }
  .card{
    width: 90%;
    height: 90%;
    margin-top: 5%;
  }
  .modal-menor-finalizacao{
    height: 35%;
    width: 70%;
  }
  .modal-content2 p{
    font-size: 1.75rem;
  }
  #confirmYes,
  #confirmNo {
    font-size: 1.5rem;
    padding: 0.25rem 1.5rem;
  }
  .botao-inicial{
    top: 2%;
    left: 4%;
    width: 8%;
    height: 8%;
  }
  .texto-fase-inicio{
    width: 60%;
    height: 15%;
  }
}

@media (max-width: 835px){
  #body{
    padding: 15% 5% 10% 5%;
  }
  header{
    top: 14%;
    right: 10%;
    padding: 2% 4%;
    font-size: 1.5rem;
    border-radius: 12px;
    height: 7%;
    align-items: center;
    width: 80%;
  }
  .grid{
    padding: 3% 6% 3% 6%;
    height: 80%;
    gap: 2%;
    margin-top: 5%;
  }
  .botao-inicial {
    top: 3%;
    left: 5%;
    width: 12%;
    height: 8%;
  }
  #confirmYes,
  #confirmNo {
    font-size: 1.2rem;
    border: 2.2px solid #05174c;
  }
  .modal-content2{
    width: 80%;
    height: 20%;
  }
  .modal-content2 p {
    font-size: 1.7rem;
    word-spacing: 0.2rem;
  }
  .botoes{
    width: 80%;
  }
}
@media (max-width: 770px){
  header{
    top:10%;
  }
  .botao-inicial{
    top: 1%;
  }
}

@media (max-width: 520px){
  #body{
    padding: 15% 5% 10% 5%;
  }
  header{
    top: 14%;
    right: auto;
    padding: 5%;
    font-size: 0.9rem;
    border-radius: 10px;
    height: 8%;
    align-items: center;
    width: 92%;
  }
  .grid{
    height:80%;
    gap: 2%;
    padding: 0%;
    margin-top: 16%;
  }
  .card{
    width: 100%;
    height: 70%;
  }
  .texto-fase-inicio {
    width: 75%;
    height: 12%;
  }
  .texto-fase-inicio > p {
    font-size: 1.7rem;
}
  .botao-inicial {
    top: 5%;
    left: 5%;
    width: 12%;
    height: 8%;
  }
  #confirmYes,
  #confirmNo {
    font-size: 0.75rem;
    border: 2px solid #05174c;
  }
  .modal-content2{
    width: 80%;
  }
  .modal-content2 p {
    font-size: 1rem;
  }
  .botoes{
    width: 100%;
  }
  .modal-menor-finalizacao{
    width: 90%;
    height: 30%;
  }
  .modal-menor-finalizacao > p{
    font-size: 1.2rem;
  }
  .spinner{
    width: 42px;
    height: 42px;
  }
}

@media (max-width: 430px){
    #body{
    padding: 15% 5% 10% 5%;
  }
  header{
    top: 14%;
    right: auto;
    padding: 5%;
    font-size: 0.9rem;
    border-radius: 10px;
    height: 8%;
    align-items: center;
    width: 92%;
  }
  .grid{
    height:80%;
    gap: 2%;
    padding: 0%;
    margin-top: 16%;
  }
  .card{
    width: 100%;
    height: 70%;
  }
  .texto-fase-inicio {
    width: 75%;
    height: 12%;
  }
  .texto-fase-inicio > p {
    font-size: 1.7rem;
}
  .botao-inicial {
    top: 5%;
    left: 5%;
    width: 12%;
    height: 8%;
  }
  #confirmYes,
  #confirmNo {
    font-size: 0.75rem;
    border: 2px solid #05174c;
  }
  .modal-content2{
    width: 80%;
  }
  .modal-content2 p {
    font-size: 1rem;
  }
  .botoes{
    width: 100%;
  }
  .modal-menor-finalizacao{
    width: 90%;
    height: 30%;
  }
  .modal-menor-finalizacao > p{
    font-size: 1.2rem;
  }
  .spinner{
    width: 42px;
    height: 42px;
  }
}

@media (max-width: 416px){
  .card{
    width: 100%;
    height: 70%;
}
  .grid{
    margin-top: 25%;
    height:80%;
  }
  .modal-menor-finalizacao{
    width: 90%;
    height: 30%;
  }
  .modal-menor-finalizacao > p{
    font-size: 1.2rem;
  }
  .spinner{
    width: 42px;
    height: 42px;
  }
  .texto-fase-inicio > p {
    font-size: 1.7rem;
}
  .texto-fase-inicio{
    width: 65%;
    height: 12%;
}
  .modal-content2 > p {
    font-size: 1rem;
}
}

@media (max-width: 413px){
  .card{
    height: 68%;
  }
}

@media (max-width: 395px){
  header{
    top: 13%;
    padding: 4% 3%;
    font-size: 1rem;
    right: auto;
  }
  .grid{
    height: 80%;
    gap: 1%;
    margin-top: 22%;
  }
  .botao-inicial{
    top: 2%;
  }
  .card{
    width: 100%;
    height: 66%
  }
  .modal-menor-finalizacao{
    width: 90%;
    height: 30%;
  }
  .modal-menor-finalizacao > p{
    font-size: 1.2rem;
  }
  .spinner{
    width: 42px;
    height: 42px;
  }
  .texto-fase-inicio > p {
    font-size: 1.6rem;
  }
  .texto-fase-inicio{
    width: 65%;
    height: 15%;
  }
  .modal-content2 > p {
    font-size: 1rem;
  }
  #confirmYes,
  #confirmNo {
    font-size: 0.75rem;
    border: 2px solid #05174c;
  }
}
@media (max-width: 392px){
  .grid{
  height: 80%;
  }
  .card{
    width: 100%;
    height: 67%
  }
  .texto-fase-inicio > p {
    font-size: 1.5rem;
  }
  .modal-menor-finalizacao{
    width: 90%;
  }
  .modal-menor-finalizacao > p{
    font-size: 1.2rem;
  }
  .spinner{
    width: 42px;
    height: 42px;
  }
}
@media (max-width: 380px){
  .card{
    width: 100%;
    height: 78%;
  }
  .modal-menor-finalizacao{
    width: 90%;
    height: 32%;
  }
  .modal-menor-finalizacao > p{
    font-size: 1.2rem;
  }
  .spinner{
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 360px){
  .grid{
  height:80%;
  }
  .card{
    width: 100%;
    height: 67%;
   }
   .modal-menor-finalizacao{
    width: 85%;
    height: 32%;
  }
}

@media (max-width: 340px){
header{
  font-size: 0.8rem;
  top: 11%;
  right: auto;
  padding: 4% 8%;
  border-radius: 10px;
}
.grid{
  margin-top: 8%;
  height: 80%;
}
.card{
  width: 100%;
  height: 95%;
}
.botao-inicial {
  top: 1%;
}
.texto-fase-inicio > p {
  font-size: 1rem;
}
.modal-menor-finalizacao{
  height: 40%;
  width: 85%;
}
.modal-menor-finalizacao > p{
  font-size: 1rem;
}
.spinner{
  height: 35px;
  width: 35px;
}
.modal-content2{
  height: 30%;
}
.modal-content2 > p {
  font-size: 0.75rem;
}
#confirmYes,
#confirmNo {
  font-size: 0.55rem;
  border: 2px solid #05174c;
}
}
