@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Lato&family=Montserrat:wght@700&family=Poppins:wght@300;500;600;700&family=Roboto:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 500;
}

body{
    width: 100vw;
    height: 100vh;
    background: var(--Fundo, #F8FFE6);
}

.botao-inicial{ 
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: fixed;
    top: 2%;
    left: 2%;
    width: 10%;
    height: 5rem;
 }

 #inicio, #som {
    width: 5rem;
    height: 5rem;
    transition: all 500ms ease;
  }
  
  #inicio:hover, #som:hover {
    transform: scale(1.2);
  }

 main{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

#personagem{
    width: 25rem;
    height: 35rem;
    position: absolute;
    display: block;
    left: 0%;
    bottom: 0%;
    z-index: -1;
}

#ilha{
    width: 30rem;
    height: 20rem;
    position: absolute;
    top: 5%;
    right: 15%;
    z-index: 90;
    background-color: #0007;
}

span{
    color: #1A6B17;
}

.dialogo{
    width: 90%;
    height: 25%;
    position: absolute;
    bottom: 5%;
    background-color: #fff;
    font-size: 1.5rem;
    z-index: 1;
    color: #001;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select:none;
    z-index: 150;
    word-spacing: 2px;
}

.texto{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    width: 95%;
    height: 100%;
}

p{
    margin: 0;
}

.confirmationModal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 82, 4, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.modal-pequeno{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  
  .modal-pequeno p {
    text-transform: uppercase;
    font-weight: bold;
  }