@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap");

@import url("../../css/fase1.css");
@import url("../../css/tela1.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f8ffe6;
  background-image: url("../img/fundo.svg");

}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quiz {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 50px;
}

.btn-quiz  {
  display: flex;
  justify-content: center;
}

.quiz p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 1.8rem 30rem;
  border-radius: 20px 40px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: 0.4s ease;
  cursor: pointer;
}


.quiz p span {
  background-color: #65ab15;
  padding: 12px 18px;
  border-radius: 50%;
  font-weight: 800;
  font-size: 1.5rem;
  position: absolute;
  left: 20px; 
}

.quiz h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 2rem 15rem;
  border-radius: 20px 40px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.4rem; 
  position: relative;
  width: 100%;
}

.quiz h1 span {
  background-color: #65ab15;
  padding: 20px;
  border-radius: 50%;
  font-weight: 800;
  font-size: 1.5rem;
  position: absolute;
  left: 20px; 
}


.quiz p:hover {
  transform: scale(1.05);
}

.imagem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.quiz p.resposta-certa {
  background: linear-gradient(
    94deg,
    rgba(127, 203, 40, 0.91) 7.79%,
    #5c9e32 96.33%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff; 
}

.quiz p.resposta-errada {
  background-color: #ff6347; 
  color: #fff; 
}

.folha-b,
.folha-d,
.folha-c {
  position: relative;
}

.folha-b::before,
.folha-d::before {
  position: absolute;
  right: -50px;
  bottom: -4px;
  content: url("../img/folha-b.svg");
}

.folha-c::before {
  position: absolute;
  left: -70px;
  bottom: -4px;
  content: url("../img/folha-c.svg");
}

/* Estilo do modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 60px 40px;
  flex-wrap: wrap;
  border-radius: 6px;
  width: 30%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.modal-content::after {
  content: url("/quiz/img/Estrelas.svg");
  position: absolute;
  top: -120px;
  left: -26px;
}

.bloqueada {
  opacity: 45%;
}

#modalText {
  font-size: 3rem;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: #0C4D0A;
}

.dados {
  display: flex;
  justify-content: space-around;
}

.tempo,.perguntas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.acertos,
.temporizador {
  display: block;
  background-color: #f8ffe6;
  padding: 10px;
  font-size: 1.4rem;
  position: relative;
  border-radius: 4px;
  color: #0C4D0A;
}

 .temporizador::before {
  content: url("../img/relogio.svg");
  position: absolute;
  top: -12px;
  left: -16px;
}

.acertos::before {
  content: url("../img/acerto.svg");
  position: absolute;
  top: -12px;
  left: -16px;
}


.relogio {
  position: absolute;
}


.botoes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



@media (max-width:1366px) {
  .container {
    flex-wrap: nowrap;
    padding:  10px;
  }
  .quiz {
    gap: 50px;
  }

  .quiz p {
    padding: 1.3rem 20rem;
    max-width: 90%;
  }
  .quiz h1 {
    padding: 1.3rem 8rem;
    max-width: 90%;
  }

  .quiz h1 span  {
    padding: 12px 8px;
    font-size: 1.2rem;
  }

  .quiz p span {
    padding: 6px 12px;
    font-size: 1.2rem;
  }

  img {
    width: 100%;
  }
  
}


@media (max-width:1280px) {
  .container {
    flex-wrap: nowrap;
    padding:  10px;
  }
  .quiz {
    gap: 60px;
  }

  .quiz p {
    padding: 1.3rem 20rem;
    max-width: 90%;
  }
  .quiz h1 {
    padding: 1.3rem 8rem;
    max-width: 90%;
  }

  .quiz h1 span  {
    padding: 12px 8px;
    font-size: 1.2rem;
  }

  .quiz p span {
    padding: 6px 12px;
    font-size: 1.2rem;
  }

  img {
    width: 100%;
  }

  .modal-content {
    width: 40%;
    margin: 15% auto;
    display: flex;
   justify-content: space-around;
   padding: 60px 10px;
  }
  
  .modal-content::after {
  display: none;
  }

  #modalText  {
    font-size: 3rem;
  }

  .dados {
    gap: 20px;
    justify-content: center;
    font-size: 0.8rem;
  }

  .temporizador,.acertos {
    display: flex;
    text-align: center;
    font-size: 1rem;
  }

}



@media screen and (min-width:768px ) and (max-width:1023px){

  .container {
    flex-wrap: wrap;
    padding:  20px;
  }

  .quiz {
    gap: 30px;
    margin-top: -80px;
  }

  .quiz p {
    padding: 1.3rem 20rem;
    max-width: 90%;
  }
  .quiz h1 {
    padding: 1.3rem 14rem;
    max-width: 90%;
  }

  .quiz h1 span  {
    padding: 10px;
    font-size: 1.2rem;
  }

  .quiz p span {
    padding: 6px 9px;
    font-size: 1.2rem;
  }

  img {
    width: 76%;
  }

  .folha-b::before,
  .folha-d::before, .folha-c::before {
    display: none;
  }

  .modal-content {
    width: 80%;
    margin: 50% auto;
  }
  
  .modal-content::after {
  display: none;
  }

}
 

@media (max-width:769px) {
  .modal-content {
    margin: 30% auto;
  }
  
}

@media screen and  (max-width:767px) {
  .container {
    flex-wrap: wrap;
  }

  .quiz {
    gap: 20px;
  }

  .quiz p {
    padding: 0.8rem 8.5rem;
    font-size: 0.8rem;
  }

  .quiz h1 {
    padding: 1.3rem 6rem;
    font-size: 0.8rem;
  }

  .quiz h1 span  {
    padding: 6px;
    font-size: 1rem;
  }

  .quiz p span {
    padding: 3px 8px;
    font-size: 1rem;
  }

  img {
    width: 50%;
  }

  .folha-b::before,
.folha-d::before, .folha-c::before {
  display: none;
}

}


@media (min-width: 392px) and (max-width: 474px) {
  .modal-content {
    width: 80%;
    margin: 30% auto;
    display: flex;
   justify-content: space-around;
  }
  
  .modal-content::after {
  display: none;
  }

  #modalText  {
    font-size: 2rem;
  }

  .dados {
    gap: 20px;
    justify-content: center;
    font-size: 0.5rem;
  }

  .temporizador,.acertos {
    display: flex;
    text-align: center;
    font-size: 0.6rem;
  }
}




@media (max-width: 390px) {
  .modal-content {
    width: 80%;
    margin: 30% auto;
    display: flex;
   justify-content: space-around;
  }
  
  .modal-content::after {
  display: none;
  }

  #modalText  {
    font-size: 2rem;
  }

  .dados {
    gap: 20px;
    justify-content: center;
    font-size: 0.5rem;
  }

  .temporizador,.acertos {
    display: flex;
    text-align: center;
    font-size: 0.6rem;
  }
}

@media (max-width: 360px) {

  .container {
    flex-wrap: wrap;
  }

  .quiz {
    gap: 20px;
  }

  .quiz p {
    padding: 0.8rem 3rem;
    font-size: 0.4rem;
    width: 100%;
  }
  .quiz h1 {
    padding: 0.8rem 3rem;
    font-size: 0.4rem;
    width: 100%;
  }

  .quiz h1 span  {
    padding: 6px 4px;
    font-size: 0.4rem;
  }

  .quiz p span {
    padding: 4px 6px;
    font-size: 0.6rem;
  }

  img {
    width: 40%;
  }
  
  .modal-content {
    width: 80%;
    margin: 50% auto;
    display: flex;
   justify-content: space-around;
  }
}

@media (max-width: 320px) {
  .modal-content {
    width: 90%;
    margin: 30% auto;
    padding: 20px 10px;
    display: flex;
   justify-content: space-around;
  }
  
  .modal-content::after {
  display: none;
  }

  #modalText  {
    font-size: 1.4rem;
  }

  .dados {
    gap: 20px;
    justify-content: center;
    font-size: 0.5rem;
  }

  .temporizador,.acertos {
    display: flex;
    text-align: center;
    font-size: 0.6rem;
  }
}